@import './../../sass/vars.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 20px;
  background-color: $windowsBlue;
}

.logo {
  @util text-hide;
  margin: 0;
  background: url('./logo-white.png') no-repeat;
  background-size: contain;
  width: 446px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}
